name: del-runs-comments
on: workflow_dispatch
jobs:
  runx:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: christosgalano/delete-gh-workflow-runs@v1.0.0
        with:
          owner: uBlockOrigin
          repo: uBlock-issues
          token: ${{ secrets.GITHUB_TOKEN }}
          workflow: on-issue-comment
          
          


    
    